@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #1e293b;
    color: white;
    transition: all 0.5s ease-in-out;
}

body .hero{
    background-image: url('../src/Assets/background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media(max-width: 768px){
    body .hero{
        background-image: url('../src/Assets/background2.jpeg');
        background-size: 100% 750px;
        background-position: 100% 0;
    }
}

.dark{
    color: rgb(55 65 81);
    background-color: white;
}

.dark .hero{
    background-image: none;
}

.dark .hero .award{
    color: white;
}

html{
    scroll-behavior: smooth;
}


.nav{
    backdrop-filter: blur(50px);
}

.list span{
    font-weight: bold;
}